# Python
venv/
__pycache__/
*.pyc
*.pyo
.env
*.log
db.sqlite3

# Docker
*.tar
*.pid

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/
.locust_cache/

# Hasil build
staticfiles/
media/.aider*
backend/venv/
node_modules/
__pycache__/
*.pyc
__pycache__/
*.pyc
backend/db.sqlite3
backend/output.txt
backend/.env
backend/.env
